useDynLib(BAMMtools)
#exportPattern(".+")

import(ape)


export(addBAMMlegend)
export(addBAMMshifts)
#export(arc)
#export(areEventConfigurationsIdentical)
#export(areShiftSetsEqual)
#export(as.bammdata)
#export(as.phylo.bammdata)
export(assignColorBreaks)
#export(bammcolors)
export(BAMMlikelihood)
#export(barLegend)
#export(branchMeanRateExponential)
export(cohorts)
#export(colorMap)
export(computeBayesFactors)
export(credibleShiftSet)
export(cumulativeShiftProbsTree)
export(distinctShiftConfigurations)
export(dtRates)
#export(exponentialRate)
#export(fxnDeps)
export(generateControlFile)
export(getBestShiftConfiguration)
export(getBranchShiftPriors)
export(getCladeRates)
export(getCohortMatrix)
#export(getDesc)
export(getEventData)
export(getJenksBreaks)
export(getMarginalBranchRateMatrix)
export(getMeanBranchLengthTree)
export(getmrca)
#export(getPathToRoot)
export(getRateThroughTimeMatrix)
#export(getRecursiveSequence)
#export(getSequenceForwardTraversal)
export(getShiftNodesFromIndex)
#export(getSpanningTaxonPair)
#export(getStartStopTimes)
export(getTipRates)
#export(inv.logit)
#export(logit)
export(marginalOddsRatioBranches)
export(marginalShiftProbsTree)
export(maximumShiftCredibility)
#export(mkdtsegsPhylo)
#export(mkdtsegsPolar)
#export(NU.branching.times)
#export(phylogeneticMean)
export(plot.bammdata)
export(plot.bammshifts)
export(plot.credibleshiftset)
export(plotPrior)
export(plotRateThroughTime)
export(print.bammdata)
export(print.credibleshiftset)
#export(rateLegend)
export(ratesHistogram)
#export(recursivelySetNodeStates)
export(richColors)
export(samplingProbs)
#export(segMap)
export(setBAMMpriors)
#export(setPhyloTreeCoords)
#export(setPolarTreeCoords)
export(speciesByRatesMatrix)
export(subsetEventData)
export(subtreeBAMM)
export(summary.bammdata)
export(summary.credibleshiftset)
export(testTimeVariableBranches)
#export(timeIntegratedBranchRate)
export(traitDependentBAMM)
export(transparentColor)
export(writeEventData)


S3method(as.bammdata, credibleshiftset)
S3method(print, bammdata)
S3method(print, credibleshiftset)
S3method(summary, bammdata)
S3method(summary, credibleshiftset)
S3method(plot, bammdata)
S3method(plot, bammshifts)
S3method(plot, credibleshiftset)
S3method(as.phylo, bammdata)

importFrom("grDevices", "col2rgb", "colorRampPalette", "dev.off", "gray", "pdf", "rgb", "terrain.colors")
importFrom("graphics", "axTicks", "axis", "box", "grconvertX", "grconvertY", "image", "layout", "lines", "locator", "mtext", "par", "plot", "plot.new", "plot.window", "points", "polygon", "rect", "segments", "text")
importFrom("methods", "hasArg")
importFrom("stats", "cor.test", "dbinom", "density", "dnorm", "kruskal.test", "loess", "median", "quantile", "reorder", "sd", "wilcox.test")
importFrom("utils", "lsf.str", "read.csv", "read.table", "tail", "write.csv", "write.table")
importFrom("graphics", "abline", "barplot", "legend")
importFrom("stats", "dgeom", "optim", "runif", "setNames")
